#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    background-color: #32383e;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
}

#header, #footer{
    position:fixed;
    height: 100px;
    display:block;
    width: 100%;
    background: rgba(88, 88, 88, 0.1);
    z-index:9;
    text-align:center;
    padding: 0 0 0 0;
}

#header{
    top:0px;
}
#logo{
    float:left;
    margin-left: 20px;
}
#the_logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ffffff;
}

#insider_logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 70px;
    color: black;
}

#footer{
    bottom:0px;
}


/* Backgrounds will cover all the section
	* --------------------------------------- */
#section0,
#section1,
#section2{
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background-image: url('../images/bird.jpg');
    padding: 30% 0 0 0;
}
#section1{
    background-color: ghostwhite;
    padding: 6% 0 0 0;
}
#section2{
    background-image: url("../images/locks.jpg");
    padding: 6% 0 0 0;
}
