@keyframes floating {
    from {
        transform: translate(0, 0px);
        opacity: 1;
    }
    65% {
        transform: translate(0, 15px);
        opacity: 0.5;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft;
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    animation-name: fadeOutDown;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    animation-name: fadeOutUp;
}

#preload {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

html, body {
    min-width: 300px;
    min-height: 600px;
}

#header {
    position: fixed;
    height: 100px;
    display: block;
    width: 100%;
    background: rgba(88, 88, 88, 0.1);
    z-index: 9;
    text-align: center;
    padding: 0 0 0 0;
}

#header {
    top: 0px;
    border-bottom: 1px darkgray solid;
}

#logo {
    float: left;
    margin-left: 20px;
}

#the_logo {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

#insider_logo {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 70px;
    color: black;
}

#footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    background: rgba(88, 88, 88, 0.1);
    z-index: 9;
    text-align: center;
    padding: 0 0 0 0;
}

#footer {
    bottom: 0px;
}

.mixpanel {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

.title {
/ / font-family : 'Josefin Sans';
    font-family: 'Oleo Script';
    font-size: 35px;
/ / color : #f1f1f1;
/ / color : #F1A9A0;

}

.lead {
    font-family: 'Lato';
    color: #f1f1f1;
    font-size: 22px;
}

.lead .highlight {
    color: #f1a9a0;
}

#h3, .h3 {
    font-family: 'Lato';
}

.intro {
    background: rgba(88, 88, 88, 0.8);
    padding: 40px 40px 40px 40px;
    border-top: 1px #f8f8ff solid;
    border-bottom: 1px #888888 solid;
    color: #ffffff;
    margin-top: 2px;
    clear: both;
}

.intro50 {
    background: rgba(88, 88, 88, 0.8);
    padding: 20px 20px 20px 20px;
    border-top: 1px #f8f8ff solid;
    border-bottom: 1px #888888 solid;
    color: #ffffff;
    margin-top: 2px;
}

.image-bullet {
    float: left;
    width: 75px;
}

.round-images {
    height: 75px;
    width: 75px;
    border: 0px;
}

.section {
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.phone {
    border: 0;
    height: 500px;
}

.backdrop-image {
    background-image: url('../images/birdx1800.png');
    background-size: cover;
    opacity: 1.0;
    transition: opacity 1s ease-in-out 0s;
}

.no-backdrop-image {
    opacity: 0;
    background-color: #f1f1f1;
}

/** Mobile experience **/
@media (max-width: 480px) {

    .title {
        font-size: 20px;
    }

    .lead {
        font-size: 14px;
    }

    .intro {
        padding: 15px;
    }

    .intro50 {
        padding: 10px;
    }

    .image-bullet {
        width: 40px;
    }

    .round-images {
        height: 40px;
        width: 40px;

    }

    .phone {
        height: 200px;
        margin-top: 5px;
    }

}

/* Defining each section background and styles
* --------------------------------------- */
#section0 {

}

#section1 {

}

#section2 {

}

body .section#section0 .center_absolute_position {
    position: absolute;
    left: 50%;
    bottom: 30px;
}

body .section#section0 a.gotoSection {
    display: block;
    cursor: pointer;
    bottom: 30px;
    position: relative;
    left: -50%;
    color: #f64747;
    font-size: 30px;
    font-weight: normal;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/** Override fullPage css **/

#fp-nav span, .fp-slidesNav span {
    border: 1px solid #f64747;
}

#fp-nav li .active span, .fp-slidesNav .active span {
    background: none repeat scroll 0 0 #f64747;
}

/**    MailChimp CSS **/
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup .mc-field-group input {
/ / width : 50 %;
}

.form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(88, 88, 88, 0.6);
    outline: 0 none;
}

/** Browser specific fixes **/

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}